<p id="notice"><%= notice %></p>
    <div class="hi2"></div>

<div class="container">
  <div class="hi top jumbotron">
    <div>
      <h1 >Evolve Wireless<span class="">!</span></h1 >
    </div></div>

  <div class="hi">
    <div class="nav-justified navbar-brand ">
      <%= link_to 'User', users_path %>
      <%= link_to 'Phone Emulator', phones_path %>
      <%= link_to 'Sales', admins_path  %>
    </div>
  </div>
  <div class="body1">
    <div class="">

    </div>
  </div>
</div><div class="footer">.</div>

<!--   <form action="/" class="">
      <div class="hi">
     <input type="text" name="firstname" placeholder="(put hi in here!)" class="hi">
    </div>
    <div class="hi">
    <button class="btn-primary btn-inline-block btn-form">Submit</button>
    </div>
    </form> -->


