<p id="notice"><%= notice %></p>
    <div class="hi2"></div>

<div class="container">
  <div class="hi top jumbotron paris">
    <div>
      <h1 >Evolve Wireless<span class="">!</span></h1 >
    </div></div>


  <div class="body1  shadow-sm primary-grey">
      <div class=" navbar-btn link grid_content border border-top-0 border-right-0 border-left-0">
        <h1 class="JumpLeft1 paris"><%= link_to 'User Log In', users_path %></h1>
        <p class="JumpRight1"> Log in to the best Wireless that you have ever seen. This Wireless service has changed lives. More Text!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto consequuntur eius exercitationem
          facere hic quaerat reprehenderit sequi. Aperiam cupiditate debitis est fuga illum pariatur voluptatem? Iste,
          quo sequi! </p>
      </div>
    <div class=" navbar-btn link grid_content border border-top-0 border-right-0 border-left-0">
      <h1 class="JumpLeft1 paris"><%= link_to 'Phone Emulator', phones_path %></h1>
      <p class="JumpRight1"> Log in to the best Wireless that you have ever seen. This Wireless service has changed lives. More Text!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto consequuntur eius exercitationem
        facere hic quaerat reprehenderit sequi. Aperiam cupiditate debitis est fuga illum pariatur voluptatem? Iste,
        quo sequi! </p>
    </div>
    <div class=" navbar-btn link grid_content border border-top-0 border-right-0 border-left-0">
      <h1 class="JumpLeft1 paris"><%= link_to 'Sales', admins_path  %></h1>
      <p class="JumpRight1"> Log in to the best Wireless that you have ever seen. This Wireless service has changed lives. More Text!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto consequuntur eius exercitationem
        facere hic quaerat reprehenderit sequi. Aperiam cupiditate debitis est fuga illum pariatur voluptatem? Iste,
        quo sequi! </p>
    </div>
</div><div class="footer">.</div>

<!--   <form action="/" class="">
      <div class="hi">
     <input type="text" name="firstname" placeholder="(put hi in here!)" class="hi">
    </div>
    <div class="hi">
    <button class="btn-primary btn-inline-block btn-form">Submit</button>
    </div>
    </form> -->
</div>



