<p id="notice"><%= notice %></p>
<div class="setup">
<div class="container6">
  <div class="drop">
    <h1>Home</h1>
  </div><br>
</div>
<div class="container6">
  <div class="word_spacing">
  <%= link_to 'User', users_path%>
    <%= link_to 'Phone Emulator', phones_path%>
  <%= link_to 'Sales', admins_path %>
</div>
</div>
</div>
<br>


