// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*,body,html{
  margin: 0;
  padding: 0;
}

.setup{
  height: 100vh;
}
.container6 {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center }
.word_spacing, .word_spacing a{
  //word-spacing: 4rem;
  margin: 0rem 2.5rem 0rem 2.8rem;
}
.drop{
  margin-bottom: -6rem;
}
.effect1:hover, a:hover{
  color:darkviolet;
}
























