// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//----------------------------------------------------------------------------------------------


:root {
  -primary: #003057 ; // primary
  -secondary: #0099D8 ; // secondary
  -textgrey: #787878 ; // textgrey
  -textteal: #009E8C ; // textteal
}
body{
  height:100vh;
  font-family:Nunito,Sans;
  background-color: #003057; // primary
  color: #0099D8 ; // secondary
}

.hi{
  display:flex;
  justify-content: center;
  align-content:center;
  margin-bottom:1rem;
}
.hi2{
  margin-top: 9rem;
}
.btn-form{
  height: 2rem;
}
// .top{
//   margin-top:15vh;
// }
.link,.link a{
  margin: 0rem 2rem;
  color: #0099D8 ; // secondary
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #787878 ; // textgrey
}
.jumbotron{
  background-image: linear-gradient(#787878,#003057) ; // textgrey
}
h1{
  color: white ; // textteal
}
span{
  color: #009E8C ; // textteal
}
.footer{
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background-color:black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.cliptitle{
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  background-color: #009E8C ; // textteal
}
.body1{
  height:100vh;
  background: #000;
}























