// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//----------------------------------------------------------------------------------------------


:root {
  --primary: #003057 ; // primary
  --secondary: #0099D8 ; // secondary
  --textgrey: #787878 ; // textgrey
  --textteal: #009E8C ; // textteal
  --textwhite: lightgrey; //
  --textblack: black;
}
body{
  height:100vh;
  font-family:Nunito,Sans;
  background-color:var(--primary) ; // primary
  color: var(--secondary) ; // secondary
}

.hi{
  display:flex;
  justify-content: center;
  align-content:center;
  margin-bottom:1rem;
}
.hi2{
  margin-top: 9rem;
}
.btn-form{
  height: 2rem;
}
// .top{
//   margin-top:15vh;
// }
.link,.link a{
  margin: 0rem 2rem;
  color: var(--secondary) ; // secondary
  text-decoration: none;
}
 a:hover {
  text-decoration: none;
  color: var(--textgrey) ; // textgrey
}
.jumbotron{
  background-image: linear-gradient(var(--textgrey),var(--primary)); // textgrey
}
h1{
  color: var(--textwhite) ; // textwhite
}

span{
  color: var(--textteal) ; // textteal
}
.footer{
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background-color:var(--textblack);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--textblack);
  text-align: center;
}
.cliptitle{
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  background-color: var(--textteal) ; // textteal
}
.body1{
  height:100vh;
  background: var(--primary) ; // primary
}
.grid_content{
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}
.JumpLeft1{
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/-1;
}
.JumpLeft1 a{
  color: var(--textteal);
}
.JumpRight1{
  width: 100%;
  //grid-row: 1/2;
  grid-column: -4/-1;
}
.JumpLeft1  a:hover {
  text-decoration: none;
  color: var(--textgrey) ; }// textgrey























